.first-screen {
  position: relative;
  margin-top: -4px;

  .first-screen__wrap {
    @include container($mW: $wrap-content);
    padding: 0 15px;

    .first-screen__row {
      @include space-between();
      height: 601px;

      .first-screen__column {
        height: 100%;
        flex-basis: 740px;
        transition: .5s;
        position: relative;
        overflow: hidden;
        text-decoration: none;
        &:hover{
          img {
            transform: scale(1.2);
          }
          .link-default {
            color: $c-default-hover;
            .arrow-right {
              background-color: $c-default-hover;
              transform: scale(1.1);
              overflow: hidden;
              > i {
                animation: hover-icon .5s forwards;
                @include icon($w: 9px, $h: 14px, $image: 'hover-arrow-right.svg');
              }
            }
          }
        }
        img {
          transition: .5s;
          @include adapt-img();
          @include full-abs();
        }

        .first-scren__column-content {
          border: 1px solid #c9b49c;
          z-index: 99;
          position: relative;
          margin: 30px 25px;
          height: calc(100% - 60px);
          @include flc-end();
          flex-direction: column;
          align-items: flex-start;

          > p {
            font-size: rem(28);
            line-height: rem(28);
            color: $c-white;
            font-weight: 500;
            margin-left: 31px;
            margin-bottom: 26px;
          }

        }
      }
      .first-screen__column--mini {
        flex-basis: 399px;
      }

      .first-screen__column--poligon-top-left {
        clip-path: polygon(10% 0, 100% 0, 100% 30%, 100% 70%, 100% 100%, 0 100%, 0% 70%, 0 13%);
      }

      .first-screen__column--poligon-bottom-right {
        clip-path: polygon(0 0, 100% 0, 100% 0, 100% 88%, 82% 100%, 0 100%, 0 100%, 0 0);
      }

    }
  }
}
@keyframes hover-icon {
  0%{
    margin: 0;
  }
  30% {
    margin: 0 -100px 0 0;
  }
  50% {
    margin: -100px 100px 0 0;
  }
  80%{
    margin:  0 50px 0 0;
  }
  100% {
    margin: 0;
  }
}
@include mmax($width: 1000){
  .first-screen .first-screen__wrap .first-screen__row .first-screen__column .first-scren__column-content > p{
    font-size: rem(32);
  }
  .first-screen .first-screen__wrap .first-screen__row{
    height: auto;
    .first-screen__column{
      width: 100%;
      flex-basis: 100%;
      margin: 0 auto;
      height: 600px;
      img {
        width: 100%;
      }
    }
    .first-screen__column--mini {
      flex-basis: 50%;
      width: auto;
      overflow: hidden;
      img {
        width: 100%;

      }
    }

  }
}
@media(max-width: 541px){
  .first-screen .first-screen__wrap .first-screen__row .first-screen__column{
    height: 400px;
    &::before{
      content: '';
      width: 100%;
      height: 100%;
      @include full-abs();
      background: rgba(0,0,0, 0.4);
      z-index: 9;
    }
  }
}
@media(max-width: 497px){
  .first-screen .first-screen__wrap .first-screen__row .first-screen__column{
    height: 492px;
  }
}
@media(max-width: 497px){
  .first-screen .first-screen__wrap .first-screen__row .first-screen__column .first-scren__column-content > p {
    font-size: rem(28);
  }
  .first-screen .first-screen__wrap .first-screen__row .first-screen__column{
    height: 450px;
  }
}
@media(max-width: 425px){
  .first-screen .first-screen__wrap .first-screen__row .first-screen__column{
    height: 400px;
  }
  .first-screen .first-screen__wrap .first-screen__row .first-screen__column--mini {
    height: 350px;
  }
  .first-screen .first-screen__wrap .first-screen__row .first-screen__column .first-scren__column-content > p{
    margin-left: 10px;
  }
  .first-screen .first-screen__wrap .first-screen__row .first-screen__column .first-scren__column-content{
    margin: 10px;
    height: calc(100% - 20px);
  }

}
@media(max-width: 376px){
  .first-screen .first-screen__wrap .first-screen__row .first-screen__column {
    height: 300px;
  }
    .first-screen .first-screen__wrap .first-screen__row .first-screen__column--mini{
    flex-basis: 100%;
    height: 500px;
  }

}


