.footer {
  padding: 73px 0 0 0;
  background: #191919;
  margin-top: 88px;
  &__header {
    @include container($mW: 1500px);
    padding: 0 15px 45px;
    margin-left: 145px;
  }
  &__header-flex {
    @include flc-start();
    align-items: stretch;

  }
  &__logo {
    flex-basis: 200px;
    margin-right: 154px;
    img {
      @include adapt-img();
    }
  }
  &__header-menu{
    flex-basis: 270px;
  }
  &__header-title-h2 {
    margin: 0;
    margin-left: 5px;
    margin-bottom: 50px;
  }
  &__header-menu-menu {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
  &__list-menu--description {
    text-decoration: none;
    color: $c-gray;
    line-height: rem(28);
    margin-left: 7px;
    transition: .5s;
    &:hover{
      color: $c-default-hover;
    }
  }
  &__header-menu--item-1 {
    margin-right: 117px;
  }
  &__header-menu--item-2 {
    margin-right: 170px;
  }
  &__header-menu--item-3 {
    .footer__header-menu--item3{
      li {
        margin-bottom: 8px;
        a {
          @include flc-start();
          > i {

            display: block;
          }
        }
        &:nth-child(4) a {
          margin-left: 56px;
        }
      }
    }
  }
  &__point-icon {
    @include icon($w: 11px, $h: 15px, $image: 'point.png');
    margin-right: 40px;
  }
  &__contact-icon {
    @include icon($w: 15px, $h: 11px, $image: 'messang.png');
    margin-right: 36px;
  }
  &__phone-icon {
    @include icon($w: 15px, $h: 15px, $image: 'phone.png');
    margin-right: 36px;
  }
  &__social-medical{
    @include flc-start();
    margin-top: 50px;
    > a {
      margin-right: 29px;
      &:hover{
        img {
          transform: scale(1.2);
        }
      }
      img {
        @include adapt-img();
        transition: .5s;
      }
    }
  }
  &__footer {
    height: 53px;
    @include flc-start();
    background: #2e2e2e;
  }
  &__copy{
    margin-left: 158px;
    line-height: rem(28);
    color: #6a6565;
  }
}
@include mmax($width: 1143){
  .footer__header-menu--item-1{
    margin-right: 0;
  }
  .footer__header-menu--item-2{
    margin-right: 0;
  }
  .footer__logo{
    margin-right: 0;
  }
  .footer__header-flex{
    @include space-between();
    align-items: stretch;
  }
}
@include mmax($width: 1000){
  .footer__list-menu--description{
    line-height: rem(35);
  }
  .footer__header-menu{
    flex-basis: 320px;
  }
  .footer__header{
    margin-left: 0;
  }
}
@include mmax($width: 853){
  .footer__header-menu{
    flex-basis: 50%;
    margin-bottom: 30px;
  }
}
@include mmax($width: 853){

  .footer__header {
    margin-left: auto;
    text-align: center;
  }
  .footer__logo{
    margin: 0 auto;
  }
  .footer__header-menu{
    text-align: center;
  }
  .footer__header-menu--item-3 .footer__header-menu--item3 li a{
    justify-content: center;
  }
  .footer__social-medical > a{
    margin-right: 0;
    margin-left: 0;
  }
  .footer__social-medical{
    justify-content: space-between;
    margin-right: 0;
    margin-left: 0;
  }
  .footer__footer{
    justify-content: center;
  }
  .footer__copy{
    margin-left: 0;
    text-align: center;
    display: block;
  }
}
@include mmax($width: 425){
  .footer__copy{
    margin-left: 0;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  .footer__social-medical{
    margin: 30px 0 10px;
  }
}@include mmax($width: 425){
  .footer__logo{
    margin-bottom: 20px;
  }

   .footer__header-menu{
     flex-basis: 100%;
   }
}
