.workspace__title {
  @include container($mW: $wrap-content);
  padding: 0 15px;
  @include flc-start();
  margin: 66px auto 40px;
}
.workspace__crumbs {
  @include flc-start();
  margin-left: 119px;
  .link-crumbs {
    text-decoration: none;
    color: #aeaeae;
    transition: .5s;
    &:hover{
      color: $c-yellow;
    }
  }
  > span {
    font-size: rem(14);
    line-height: rem(28);
    color: #aeaeae;
    display: block;
    margin: 0 10px;
  }
  .link-crumbs--active {
    color: $c-yellow;
  }
}

@include mmax($width: 556){
  .workspace__crumbs {
    margin-left: 3%;
    margin-top: 10px;
  }
}