.portfolio{
  @include container($mW: $wrap-content);
  padding: 0 15px;
  margin: 30px auto;
  .portfolio__row {
    height: 110px;
    background: #313131;
    display: flex;
    align-items: center;
    .portfolio__row-wrap{
      @include container($mW: 958px);
      @include space-between();
      width: 100%;
      .portfolio__row-element {
        @include flc-start();
        flex-basis: 28%;
        position: relative;
        text-decoration: none;
        &:hover {
          > i {
            transform: scale(1.1);
          }
          > p {
            color: $c-default-hover;
          }
        }
        &::after{
          content: '';
          width: 8px;
          height: 8px;
          @include full-abs();
          margin: auto;
          top: -3px;
          left: auto;
          right: -30px;
          background: #d5d5d5;
          transform: rotate(45deg);
        }
        .portfolio__element-icon {
          @include icon($w: 43px, $h: 43px, $image: 'briefcase.png');
          margin-right: 25px;
          transition: .5s;
        }
        > p {
          font-size: rem(22);
          font-weight: 500;
          line-height: rem(28);
          color: $c-white;
          transition: .5s;
        }
        &:nth-child(1){
          margin-left: -50px;
        }
        &:nth-child(2){
          margin-left: 29px;
          .portfolio__element-icon{
            @include icon($w: 31px, $h: 44px, $image: 'pin.png');
            margin-right: 28px;
          }
          &::after{
            right: -2px;
          }
        }

        &:nth-child(3){
          &::after{
            display: none;
          }
          margin-right:-31px;
          .portfolio__element-icon{
            @include icon($w: 43px, $h: 35px, $image: 'handshake.png');
          }
        }
      }
    }
  }

}
@media(max-width: 777px){

  .portfolio .portfolio__row .portfolio__row-wrap{
    max-width: 100%;
  }
  .portfolio .portfolio__row .portfolio__row-wrap .portfolio__row-element:nth-child(1){
    margin-left: 0;
  }
  .portfolio .portfolio__row .portfolio__row-wrap .portfolio__row-element:nth-child(2){
    margin-left: 0;
  }
  .portfolio .portfolio__row .portfolio__row-wrap .portfolio__row-element:nth-child(3){
    margin-right: 0;
  }
  .portfolio .portfolio__row{
    height: auto;
  }
  .portfolio .portfolio__row .portfolio__row-wrap {
    .portfolio__row-element{
      flex-basis: 100%;
      justify-content: center;
      margin: 30px 0;
      &::after{
        display: none;
      }
    }
  }
}
@media(max-width: 500px){
  .portfolio .portfolio__row .portfolio__row-wrap .portfolio__row-element{
    margin: 0px 0;
  }
}
@include mmax(414){
  .portfolio .portfolio__row .portfolio__row-wrap{
    max-width: calc(100% - 30px);
  }
  .portfolio{
    padding: 0;
  }
}