// Fonts
$f-main: Arial;

// Font sizes
$fz-root: 14;

// Colors
$c-white: #fff;
$c-black: #000;
$c-text-default: #000;

// Time
$time-fast: 300ms;

// Timing functions
$timing-functions: (
  'easeInOutCubic': cubic-bezier(0.645, 0.045, 0.355, 1)
);