.btn-default{
  width: 235px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
  background-color:  #ff7007;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.5px;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 2;
  font-weight: bold;
  text-align: center;
  &:hover{
    background-color: darken(#ff7007, 15%);
  }
}