{% include "html/_document-header.html" %}

<div class="workspace">
    <div class="workspace__cont">

        <div class="workspace__header">
            {% include "html/header.html" %}
        </div>
        <main class="workspace__content">
            <div class="first-screen">
                <div class="first-screen__wrap">
                    <div class="first-screen__row">
                        <div class="first-screen__column first-screen__column--poligon-top-left">
                            <img src="img/first-1.png" alt="">
                            <div class="first-scren__column-content">
                                <p>Внутрішні системи</p>
                                <a href="#" class="link-default">
                                    Дивитися ще
                                    <span class="arrow-right">
                                    <i></i>
                                  </span>
                                </a>
                            </div>
                        </div>
                        <div class="first-screen__column first-screen__column--mini">
                            <img src="img/first-2.png" alt="">
                            <div class="first-scren__column-content">

                                <p>Зовнішні системи</p>
                                <a href="#" class="link-default">
                                    Дивитися ще
                                    <span class="arrow-right">
                                    <i></i>
                                  </span>
                                </a>
                            </div>
                        </div>
                        <div class="first-screen__column first-screen__column--mini first-screen__column--poligon-bottom-right">
                            <img src="img/first-3.png" alt="">
                            <div class="first-scren__column-content">
                                <p>Автоматика</p>
                                <a href="#" class="link-default">
                                    Дивитися ще
                                    <span class="arrow-right">
                                    <i></i>
                                  </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio">
                <div class="portfolio__row">
                    <div class="portfolio__row-wrap">
                        <div class="portfolio__row-element">
                            <i class="portfolio__element-icon"></i>
                            <p>Портфоліо</p>
                        </div>
                        <div class="portfolio__row-element">
                            <i class="portfolio__element-icon"></i>
                            <p>Контакти</p>
                        </div>
                        <div class="portfolio__row-element">
                            <i class="portfolio__element-icon"></i>
                            <p>Співпраця</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="over-work">
                <div class="over-work__title">
                    <p  class="title-h1">Наши роботи</p>
                    <a href="portfolio.html" class="link-default link-default--black">
                        Дивитися ще
                        <span class="arrow-right">
                                    <i></i>
                        </span>
                    </a>
                </div>
                <div class="over-work__row">
                    <div class="over-work__row-column over-work__row-column--left">
                        <img src="img/over-work1.png" alt="">
                    </div>
                    <div class="over-work__column-row">
                        <div class="over-work__row-column">
                            <div class="over-work__row-column-element">
                                <img src="img/over-work2.png" alt="">
                            </div>
                            <div class="over-work__row-column-element over-work__row-column-element--big">
                                <img src="img/over-work3.png" alt="">
                            </div>
                        </div>
                        <div class="over-work__row-column">
                            <div class="over-work__row-column-element over-work__row-column-element--big">
                                <img src="img/over-work4.png" alt="">
                            </div>
                            <div class="over-work__row-column-element ">
                                <img src="img/over-work5.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-company">
                <div class="about-company__body">
                    <div class="about-company__row">
                        <div class="column-grid">
                            <div class="column-grid__element-images item-1">
                                <img src="img/a1.png" alt="">
                            </div>
                            <div class="column-grid__element-text item-2">
                                <h3 class="column-grid__title title-h3">Ми пропонуємо моторизовані карнизи для штор
                                    Somfy </h3>
                                <div class="column-grid__description description">Сьогодні такі карнизи – це
                                    розповсюджений та зручний спосіб управління великими та досить важкими шторами.
                                    Варіанти управління дозволяють вибрати саме те, що Вам потрібно...
                                </div>
                                <a href="" class="link-default link-default--black">Дивитися ще <span
                                        class="arrow-right"><i></i></span></a>
                            </div>
                            <div class="column-grid__element-images item-3">
                                <img src="img/a2.png" alt="">
                            </div>
                            <div class="column-grid__element-text item-4">
                                <h3 class="column-grid__title title-h3">Ми пропонуємо моторизовані карнизи для штор
                                    Somfy </h3>
                                <div class="column-grid__description description">Сьогодні такі карнизи – це
                                    розповсюджений та зручний спосіб управління великими та досить важкими шторами.
                                    Варіанти управління дозволяють вибрати саме те, що Вам потрібно...
                                </div>
                                <a href="" class="link-default link-default--black">Дивитися ще <span
                                        class="arrow-right"><i></i></span></a>
                            </div>
                        </div>
                        <div class="about-company__box-about">
                            <img src="img/a3Team.png" alt="" class="about-company__box-about-bg">
                            <h2 class="about-company__title-h2 title-h2">Компанія «Артіка»</h2>
                            <p class="description about-company__description--white"> Ми надаємо послуги з заміру на
                                об’єкті, після чого усі дані передаються до відділу продажів, який у свою чергу
                                проводить розрахунки стосовно вартості замовлення. Як правило замір входить у вартість
                                монтажу (це не включає в себе випадок коли замірник проводить заміри за містом, у такому
                                випадку клієнт оплачує транспортні витрати). </p>
                            <p class="about-company__description--white description"> Проте якщо клієнт не зробить
                                замовлення він повинен оплатити вартість заміру, яка попередньо обговорюється з відділом
                                продажів.</p>
                            <p class="about-company__description--white description">Обов’язковим фактором для нашої
                                компанії є сервіс, як гарантійний так і іслягарантійний. Усі виїзди як правило
                                відбуваються планово, попередньо узгоджено з клієнтом; Бригада монтажників складається з
                                двох чоловік (іноді може бути і більше), які виконують весь спектр монтажних та
                                ремонтних робіт.</p>
                            <p class="about-company__description--white description">Ви можете отримати декілька видів
                                консультації, наприклад: безкоштовна консультація по телефону або у відділі продажів
                                компанії. безкоштовна передмонтажна консультація на об’єкті (лише у випадку замовлення),
                                платна консультація на об’єкті</p>
                            <a href="#" class="link-default">Дивитися ще <span class="arrow-right"><i></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form">
                <div class="form__body">
                    <div class="form__body-background">
                        <p class="title-h2 form__title-h2--c-black">У вас возникли вопросы?
                            <span class="break">Мы с удовольствием ответим!</span></p>
                        <p class="description form__description">Сьогодні такі карнизи – це розповсюджений та зручний спосіб управління
                            великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам
                            потрібно...</p>
                        <form action="#" class="form__form-ask form-ask">
                            <input type="text" name="name" placeholder="Ваше имя" class="input-item-1">
                            <input type="email" name="email" placeholder="Ваш email" class="input-item-2">
                            <textarea name="message" placeholder="Сообщение"></textarea>
                            <button type="submit" class="btn-default btn-default--center">Отправить</button>
                        </form>
                        <div class="line-orange"></div>
                    </div>
                    <p class="form__title-h2 title-h2">Ми пропонуємо моторизовані карнизи<span class="break"> для штор Somfy</span> </p>
                    <p class="text-default form__text-default">Сьогодні такі карнизи – це розповсюджений та зручний
                        спосіб управління великими та досить важкими шторами. Варіанти управління дозволяють вибрати
                        саме те, що Вам потрібно...Сьогодні такі карнизи – це розповсюджений та зручний спосіб
                        управління великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те,
                        що Вам потрібно...Сьогодні такі карнизи – це розповсюджений та зручний спосіб управління
                        великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам
                        потрібно...</p>
                    <p class="text-default form__text-default">Сьогодні такі карнизи – це розповсюджений та зручний
                        спосіб управління великими та досить важкими шторами. Варіанти управління дозволяють вибрати
                        саме те, що Вам потрібно...Сьогодні такі карнизи – це розповсюджений та зручний спосіб
                        управління великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те,
                        що Вам потрібно...Сьогодні такі карнизи – це розповсюджений та зручний спосіб управління
                        великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам
                        потрібно...</p>
                    <p class="text-default form__text-default">Сьогодні такі карнизи – це розповсюджений та зручний
                        спосіб управління великими та досить важкими шторами. Варіанти управління дозволяють вибрати
                        саме те, що Вам потрібно...Сьогодні такі карнизи – це розповсюджений та зручний спосіб
                        управління великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те,
                        що Вам потрібно...Сьогодні такі карнизи – це розповсюджений та зручний спосіб управління
                        великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам
                        потрібно...Сьогодні такі карнизи – це розповсюджений та зручний спосіб управління великими та
                        досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам
                        потрібно...Сьогодні такі карнизи – це розповсюджений та зручний спосіб управління великими та
                        досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам
                        потрібно...Сьогодні такі карнизи – це розповсюджений та зручний спосіб управління великими та
                        досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам потрібно...
                    </p>
                </div>
            </div>
        </main>
        <div class="workspace__footer">
            {% include "html/footer.html" %}
        </div>


    </div>
</div>

{% include "html/_document-footer.html" %}