{% include "html/_document-header.html" %}

<div class="workspace">
    <div class="workspace__cont">

        <div class="workspace__header">
            {% include "html/header.html" %}
        </div>
        <main class="workspace__content">
            <div class="news">
                <div class="workspace__crumbs">
                    <a href="index.html" class="link-crumbs description">Главная</a>
                    <span> - </span>
                    <a href="index.html" class="link-crumbs description link-crumbs--active">Наши роботи</a>
                </div>
                <p class="title-h2 form__title-h2--c-black">Ми пропонуємо моторизовані  карнизи для штор Somfy</p>
                <div class="news__img-big">
                    <img src="img/news.png" alt="">
                </div>
                <div class="news__box-description">
                    <p class="description">
                        Сьогодні такі карнизи – це розповсюджений та зручний спосіб управління великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам потрібно...Сьогодні такі карнизи – це розповсюджений та зручний спосіб управління великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам потрібно...Сьогодні такі карнизи – це розповсюджений та зручний спосіб управління великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам потрібно...Сьогодні такі карнизи – це розповсюджений та зручний спосіб управління великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам потрібно...Сьогодні такі карнизи – це розповсюджений та зручний спосіб управління великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам

                        потрібно...мСьогодні такі карнизи – це розповсюджений та зручний спосіб управління великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам потрібно...Сьогодні такі карнизи – це розповсюджений та зручний спосіб управління великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам потрібно...Сьогодні такі карнизи – це розповсюджений та зручний спосіб управління великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам потрібно...

                    </p>
                    <p class="description">
                        Сьогодні такі карнизи – це розповсюджений та зручний спосіб управління великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам потрібно...Сьогодні такі карнизи – це розповсюджений та зручний спосіб управління великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам потрібно...Сьогодні такі карнизи – це розповсюджений та зручний спосіб управління великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам потрібно...Сьогодні такі карнизи – це розповсюджений та зручний спосіб управління великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам потрібно...Сьогодні такі карнизи – це розповсюджений та зручний спосіб управління великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам

                        потрібно...мСьогодні такі карнизи – це розповсюджений та зручний спосіб управління великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам потрібно...Сьогодні такі карнизи – це розповсюджений та зручний спосіб управління великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам потрібно...Сьогодні такі карнизи – це розповсюджений та зручний спосіб управління великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам потрібно...
                    </p>
                    <img src="img/news-1.png" alt="" class="news__mini-img">
                </div>
            </div>
            <div class="form">
                <div class="form__body">
                    <div class="form__body-background">
                        <p class="title-h2 form__title-h2--c-black">У вас возникли вопросы?
                            <span class="break">Мы с удовольствием ответим!</span></p>
                        <p class="description form__description">Сьогодні такі карнизи – це розповсюджений та зручний
                            спосіб управління
                            великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам
                            потрібно...</p>
                        <form action="#" class="form__form-ask form-ask">
                            <input type="text" name="name" placeholder="Ваше имя"
                                   class="wow fadeInLeft input-item-1">
                            <input  type="email" name="email" placeholder="Ваш email"
                                    class="wow fadeInRight  input-item-2">
                            <textarea  name="message" placeholder="Сообщение"
                                       class="wow fadeInUp "></textarea>
                            <button type="submit" class="btn-default btn-default--center ">Отправить</button>
                        </form>

                        <div class="line-orange"></div>
                    </div>

                </div>
            </div>
        </main>
        <div class="workspace__footer">
            {% include "html/footer.html" %}
        </div>


    </div>
</div>

{% include "html/_document-footer.html" %}