{% include "html/_document-header.html" %}

<div class="workspace">
    <div class="workspace__cont">

        <div class="workspace__header">
            {% include "html/header.html" %}
        </div>
        <main class="workspace__content">
            <div class="workspace__title">
                <p class="title-h1">Новини</p>
                <div class="workspace__crumbs">
                    <a href="index.html" class="link-crumbs description">Главная</a>
                    <span> - </span>
                    <a href="index.html" class="link-crumbs description link-crumbs--active">Наши роботи</a>
                </div>
            </div>
            <div class="all-news">
                <div class="other-news__row all-news__row">
                    <div class="wow fadeInLeft other-news__row-column all-news__row-column">
                        <div class="wow fadeIn other-news__img">
                            <img src="img/n1.png" alt="">
                        </div>
                        <div class="wow fadeIn other-news__text">
                            <p class="title-h3">Ми пропонуємо
                                моторизовані карнизи
                                для штор Somfy </p>
                            <p class="description">Сьогодні такі карнизи – це розповсюджений та зручний спосіб
                                управління великими
                                та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам
                                потрібно...</p>
                            <a href="#" class="link-default link-default--black">Дивитися ще <span
                                    class="arrow-right"><i></i></span></a>
                        </div>
                    </div>
                    <div class="wow fadeInRight other-news__row-column all-news__row-column">
                        <div class="wow fadeIn other-news__img">
                            <img src="img/n2.png" alt="">
                        </div>
                        <div class="wow fadeIn other-news__text">
                            <p class="title-h3">Ми пропонуємо
                                моторизовані карнизи
                                для штор Somfy </p>
                            <p class="description">Сьогодні такі карнизи – це розповсюджений та зручний спосіб
                                управління великими
                                та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам
                                потрібно...</p>
                            <a href="#" class="link-default link-default--black">Дивитися ще <span
                                    class="arrow-right"><i></i></span></a>
                        </div>
                    </div>
                </div>
                <div class="other-news__row all-news__row">
                    <div class="wow fadeInLeft other-news__row-column all-news__row-column">
                        <div class="wow fadeIn other-news__img">
                            <img src="img/n3.png" alt="">
                        </div>
                        <div class="wow fadeIn other-news__text">
                            <p class="title-h3">Ми пропонуємо
                                моторизовані карнизи
                                для штор Somfy </p>
                            <p class="description">Сьогодні такі карнизи – це розповсюджений та зручний спосіб
                                управління великими
                                та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам
                                потрібно...</p>
                            <a href="#" class="link-default link-default--black">Дивитися ще <span
                                    class="arrow-right"><i></i></span></a>
                        </div>
                    </div>
                    <div class="wow fadeInRight other-news__row-column all-news__row-column">
                        <div class="wow fadeIn other-news__img">
                            <img src="img/n4.png" alt="">
                        </div>
                        <div class="wow fadeIn other-news__text">
                            <p class="title-h3">Ми пропонуємо
                                моторизовані карнизи
                                для штор Somfy </p>
                            <p class="description">Сьогодні такі карнизи – це розповсюджений та зручний спосіб
                                управління великими
                                та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам
                                потрібно...</p>
                            <a href="#" class="link-default link-default--black">Дивитися ще <span
                                    class="arrow-right"><i></i></span></a>
                        </div>
                    </div>
                </div>
                <div class="other-news__row all-news__row">
                    <div class="wow fadeInLeft other-news__row-column all-news__row-column">
                        <div class="wow fadeIn other-news__img">
                            <img src="img/n5.png" alt="">
                        </div>
                        <div class="wow fadeIn other-news__text">
                            <p class="title-h3">Ми пропонуємо
                                моторизовані карнизи
                                для штор Somfy </p>
                            <p class="description">Сьогодні такі карнизи – це розповсюджений та зручний спосіб
                                управління великими
                                та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам
                                потрібно...</p>
                            <a href="#" class="link-default link-default--black">Дивитися ще <span
                                    class="arrow-right"><i></i></span></a>
                        </div>
                    </div>
                    <div class="wow fadeInRight other-news__row-column all-news__row-column">
                        <div class="wow fadeIn other-news__img">
                            <img src="img/n6.png" alt="">
                        </div>
                        <div class="wow fadeIn other-news__text">
                            <p class="title-h3">Ми пропонуємо
                                моторизовані карнизи
                                для штор Somfy </p>
                            <p class="description">Сьогодні такі карнизи – це розповсюджений та зручний спосіб
                                управління великими
                                та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам
                                потрібно...</p>
                            <a href="#" class="link-default link-default--black">Дивитися ще <span
                                    class="arrow-right"><i></i></span></a>
                        </div>
                    </div>
                </div>
                <div class="other-news__row all-news__row">
                    <div class="wow fadeInLeft other-news__row-column all-news__row-column">
                        <div class="wow fadeIn other-news__img">
                            <img src="img/n7.png" alt="">
                        </div>
                        <div class="wow fadeIn other-news__text">
                            <p class="title-h3">Ми пропонуємо
                                моторизовані карнизи
                                для штор Somfy </p>
                            <p class="description">Сьогодні такі карнизи – це розповсюджений та зручний спосіб
                                управління великими
                                та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам
                                потрібно...</p>
                            <a href="#" class="link-default link-default--black">Дивитися ще <span
                                    class="arrow-right"><i></i></span></a>
                        </div>
                    </div>
                    <div class="wow fadeInRight other-news__row-column all-news__row-column">
                        <div class="wow fadeIn other-news__img">
                            <img src="img/n8.png" alt="">
                        </div>
                        <div class="wow fadeIn other-news__text">
                            <p class="title-h3">Ми пропонуємо
                                моторизовані карнизи
                                для штор Somfy </p>
                            <p class="description">Сьогодні такі карнизи – це розповсюджений та зручний спосіб
                                управління великими
                                та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам
                                потрібно...</p>
                            <a href="#" class="link-default link-default--black">Дивитися ще <span
                                    class="arrow-right"><i></i></span></a>
                        </div>
                    </div>
                </div>
                <div class="other-news__row all-news__row">
                    <div class="wow fadeInLeft other-news__row-column all-news__row-column">
                        <div class="wow fadeIn other-news__img">
                            <img src="img/n9.png" alt="">
                        </div>
                        <div class="wow fadeIn other-news__text">
                            <p class="title-h3">Ми пропонуємо
                                моторизовані карнизи
                                для штор Somfy </p>
                            <p class="description">Сьогодні такі карнизи – це розповсюджений та зручний спосіб
                                управління великими
                                та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам
                                потрібно...</p>
                            <a href="#" class="link-default link-default--black">Дивитися ще <span
                                    class="arrow-right"><i></i></span></a>
                        </div>
                    </div>
                    <div class="wow fadeInRight other-news__row-column all-news__row-column">
                        <div class="wow fadeIn other-news__img">
                            <img src="img/n10.png" alt="">
                        </div>
                        <div class="wow fadeIn other-news__text">
                            <p class="title-h3">Ми пропонуємо
                                моторизовані карнизи
                                для штор Somfy </p>
                            <p class="description">Сьогодні такі карнизи – це розповсюджений та зручний спосіб
                                управління великими
                                та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам
                                потрібно...</p>
                            <a href="#" class="link-default link-default--black">Дивитися ще <span
                                    class="arrow-right"><i></i></span></a>
                        </div>
                    </div>
                </div>
                <div class="other-news__row all-news__row">
                    <div class="wow fadeInLeft other-news__row-column all-news__row-column">
                        <div class="wow fadeIn other-news__img">
                            <img src="img/n11.png" alt="">
                        </div>
                        <div class="wow fadeIn other-news__text">
                            <p class="title-h3">Ми пропонуємо
                                моторизовані карнизи
                                для штор Somfy </p>
                            <p class="description">Сьогодні такі карнизи – це розповсюджений та зручний спосіб
                                управління великими
                                та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам
                                потрібно...</p>
                            <a href="#" class="link-default link-default--black">Дивитися ще <span
                                    class="arrow-right"><i></i></span></a>
                        </div>
                    </div>
                    <div class="wow fadeInRight other-news__row-column all-news__row-column">
                        <div class="wow fadeIn other-news__img">
                            <img src="img/n12.png" alt="">
                        </div>
                        <div class="wow fadeIn other-news__text">
                            <p class="title-h3">Ми пропонуємо
                                моторизовані карнизи
                                для штор Somfy </p>
                            <p class="description">Сьогодні такі карнизи – це розповсюджений та зручний спосіб
                                управління великими
                                та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам
                                потрібно...</p>
                            <a href="#" class="link-default link-default--black">Дивитися ще <span
                                    class="arrow-right"><i></i></span></a>
                        </div>
                    </div>
                </div>
                <div class="other-news__row all-news__row">
                    <div class="wow fadeInLeft other-news__row-column all-news__row-column">
                        <div class="wow fadeIn other-news__img">
                            <img src="img/n13.png" alt="">
                        </div>
                        <div class="wow fadeIn other-news__text">
                            <p class="title-h3">Ми пропонуємо
                                моторизовані карнизи
                                для штор Somfy </p>
                            <p class="description">Сьогодні такі карнизи – це розповсюджений та зручний спосіб
                                управління великими
                                та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам
                                потрібно...</p>
                            <a href="#" class="link-default link-default--black">Дивитися ще <span
                                    class="arrow-right"><i></i></span></a>
                        </div>
                    </div>
                    <div class="wow fadeInRight other-news__row-column all-news__row-column">
                        <div class="wow fadeIn other-news__img">
                            <img src="img/n14.png" alt="">
                        </div>
                        <div class="wow fadeIn other-news__text">
                            <p class="title-h3">Ми пропонуємо
                                моторизовані карнизи
                                для штор Somfy </p>
                            <p class="description">Сьогодні такі карнизи – це розповсюджений та зручний спосіб
                                управління великими
                                та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам
                                потрібно...</p>
                            <a href="#" class="link-default link-default--black">Дивитися ще <span
                                    class="arrow-right"><i></i></span></a>
                        </div>
                    </div>
                </div>
                <div class="other-news__row all-news__row">
                    <div class="wow fadeInLeft other-news__row-column all-news__row-column">
                        <div class="wow fadeIn other-news__img">
                            <img src="img/n15.png" alt="">
                        </div>
                        <div class="wow fadeIn other-news__text">
                            <p class="title-h3">Ми пропонуємо
                                моторизовані карнизи
                                для штор Somfy </p>
                            <p class="description">Сьогодні такі карнизи – це розповсюджений та зручний спосіб
                                управління великими
                                та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам
                                потрібно...</p>
                            <a href="#" class="link-default link-default--black">Дивитися ще <span
                                    class="arrow-right"><i></i></span></a>
                        </div>
                    </div>
                    <div class="wow fadeInRight other-news__row-column all-news__row-column">
                        <div class="wow fadeIn other-news__img">
                            <img src="img/n16.png" alt="">
                        </div>
                        <div class="wow fadeIn other-news__text">
                            <p class="title-h3">Ми пропонуємо
                                моторизовані карнизи
                                для штор Somfy </p>
                            <p class="description">Сьогодні такі карнизи – це розповсюджений та зручний спосіб
                                управління великими
                                та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам
                                потрібно...</p>
                            <a href="#" class="link-default link-default--black">Дивитися ще <span
                                    class="arrow-right"><i></i></span></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="pagination">
                <a href="" class="pagination__active">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">4</a>
                <a href="">5</a>
            </div>
        </main>
        <div class="workspace__footer">
            {% include "html/footer.html" %}
        </div>


    </div>
</div>

{% include "html/_document-footer.html" %}