{% include "html/_document-header.html" %}

<div class="workspace">
    <div class="workspace__cont">

        <div class="workspace__header">
            {% include "html/header.html" %}
        </div>
        <main class="workspace__content">
            <div class="product-page">
                <div class="product-first">
                    <div class="workspace__crumbs workspace__crumbs--product">
                        <a href="index.html" class="link-crumbs description">Главная</a>
                        <span> - </span>
                        <a href="index.html" class="link-crumbs description link-crumbs--active">Наши роботи</a>
                    </div>
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide product-first__swiper-slide">
                                <img src="img/slider-1.jpg" alt="" class="product-first__background">
                                <div class="product-first__slider-item">
                                    <p class="title-h1 title-h1--white">Вертикальні жалюзі</p>
                                    <div class="product-first__slider-item-flex">
                                        <a href="#" class="description slider--link">Преимущества</a>
                                        <a href="#" class="description slider--link">Характеритсики </a>
                                        <a href="#" class="description slider--link">Особенности</a>
                                        <a href="#" class="description slider--link">Цена</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide product-first__swiper-slide">
                                <img src="img/slider-2.jpg" alt="" class="product-first__background">
                                <div class="product-first__slider-item">
                                    <p class="title-h1 title-h1--white">Вертикальні жалюзі</p>
                                    <div class="product-first__slider-item-flex">
                                        <a href="#" class="description slider--link">Преимущества</a>
                                        <a href="#" class="description slider--link">Характеритсики </a>
                                        <a href="#" class="description slider--link">Особенности</a>
                                        <a href="#" class="description slider--link">Цена</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide product-first__swiper-slide">
                                <img src="img/slider-1.jpg" alt="" class="product-first__background">
                                <div class="product-first__slider-item">
                                    <p class="title-h1 title-h1--white">Вертикальні жалюзі</p>
                                    <div class="product-first__slider-item-flex">
                                        <a href="#" class="description slider--link">Преимущества</a>
                                        <a href="#" class="description slider--link">Характеритсики </a>
                                        <a href="#" class="description slider--link">Особенности</a>
                                        <a href="#" class="description slider--link">Цена</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide product-first__swiper-slide">
                                <img src="img/slider-2.jpg" alt="" class="product-first__background">
                                <div class="product-first__slider-item">
                                    <p class="title-h1 title-h1--white">Вертикальні жалюзі</p>
                                    <div class="product-first__slider-item-flex">
                                        <a href="#" class="description slider--link">Преимущества</a>
                                        <a href="#" class="description slider--link">Характеритсики </a>
                                        <a href="#" class="description slider--link">Особенности</a>
                                        <a href="#" class="description slider--link">Цена</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide product-first__swiper-slide">
                                <img src="img/slider-1.jpg" alt="" class="product-first__background">
                                <div class="product-first__slider-item">
                                    <p class="title-h1 title-h1--white">Вертикальні жалюзі</p>
                                    <div class="product-first__slider-item-flex">
                                        <a href="#" class="description slider--link">Преимущества</a>
                                        <a href="#" class="description slider--link">Характеритсики </a>
                                        <a href="#" class="description slider--link">Особенности</a>
                                        <a href="#" class="description slider--link">Цена</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="list-of-services">
                    <div class="list-of-services__row">
                        <div data-wow-delay=".3s" class="wow fadeIn list-of-services__row-column">
                            <span class="list-of-services__number-item">1</span>
                            <p class="title-h3 title-h3--list-of-services">Захисна обробка тканин</p>
                            <p class="description description--list-of-services">Тканини просочені пиловідштовхуючими
                                і антівигораючими складами, що гарантує довгий термін служби</p>
                        </div>
                        <div data-wow-delay=".5s" class="wow fadeIn list-of-services__row-column">
                            <span class="list-of-services__number-item">2</span>
                            <p class="title-h3 title-h3--list-of-services">Механізм управління</p>
                            <p class="description description--list-of-services">Тканини просочені пиловідштовхуючими
                                і антівигораючими складами, що гарантує довгий термін служби</p>
                        </div>
                        <div data-wow-delay=".7s" class="wow fadeIn list-of-services__row-column">
                            <span class="list-of-services__number-item">3</span>
                            <p class="title-h3 title-h3--list-of-services">Карниз і ламелі окремо</p>
                            <p class="description description--list-of-services">Тканини просочені пиловідштовхуючими
                                і антівигораючими складами, що гарантує довгий термін служби</p>
                        </div>
                        <div data-wow-delay=".9s" class="wow fadeIn list-of-services__row-column">
                            <span class="list-of-services__number-item">4</span>
                            <p class="title-h3 title-h3--list-of-services">Колір і матеріали</p>
                            <p class="description description--list-of-services">Тканини просочені пиловідштовхуючими
                                і антівигораючими складами, що гарантує довгий термін служби</p>
                        </div>
                    </div>
                    <div class="list-of-services__bottom description-of-services">
                        <p class="wow fadeInLeft title-h2 description-of-services--title-h2">Ми пропонуємо карнизи для
                            штор Somfy </p>
                        <div class="wow fadeInRight description-of-services__right-text">
                            <p><span>Сьогодні такі карнизи</span> – це розповсюджений та зручний спосіб управління
                                великими та досить
                                важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам
                                потрібно...Сьогодні такі карнизи – це розповсюджений та зручний спосіб управління
                                великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що
                                Вам потрібно...Сьогодні такі карнизи – це розповсюджений та зручний спосіб управління
                                великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що
                                Вам потрібно...</p>
                            <p><span>Сьогодні такі карнизи</span> – це розповсюджений та зручний спосіб управління
                                великими та досить
                                важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам
                                потрібно...Сьогодні такі карнизи – це розповсюджений та зручний спосіб управління
                                великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що
                                Вам потрібно...Сьогодні такі карнизи – це розповсюджений та зручний спосіб управління
                                великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що
                                Вам потрібно...</p>
                        </div>

                    </div>
                </div>
                <div class="table">
                    <img src="img/table-bg.png" alt="" class="table__bg">
                    <div class="table__body">
                        <div class="title-h2">Технічні дані</div>
                        <div class="table__header">
                            <p class="table__header-nav">Тип жалюзи</p>
                            <p class="table__header-nav">Необычные формы</p>
                            <p class="table__header-nav">Опциональная неинвазивная сборка</p>
                            <p class="table__header-nav">Дополнительный электрический </p>
                            <p class="table__header-nav">минимум ширина (мм) </p>
                            <p class="table__header-nav">минимум ширина (мм) </p>
                            <p class="table__header-nav">минимум ширина (мм) </p>
                            <p class="table__header-nav">минимум ширина (мм) </p>
                        </div>
                        <div class="table__element">
                            <p data-title="Тип жалюзи" class="table__element-items">дерево 25 мм</p>
                            <p data-title="Необычные формы" class="table__element-items"></p>
                            <p data-title="Опциональная неинвазивная сборка" class="table__element-items">+</p>
                            <p data-title="Дополнительный электрический" class="table__element-items">+</p>
                            <p data-title="минимум ширина (мм)" class="table__element-items">300</p>
                            <p data-title="минимум ширина (мм)" class="table__element-items">300</p>
                            <p data-title="минимум ширина (мм)" class="table__element-items">300</p>
                            <p data-title="минимум ширина (мм)" class="table__element-items">300</p>
                        </div>
                        <div class="table__element">
                            <p data-title="Тип жалюзи" class="table__element-items">дерево 25 мм</p>
                            <p data-title="Необычные формы" class="table__element-items"></p>
                            <p data-title="Опциональная неинвазивная сборка" class="table__element-items">+</p>
                            <p data-title="Дополнительный электрический" class="table__element-items">+</p>
                            <p data-title="минимум ширина (мм)" class="table__element-items">300</p>
                            <p data-title="минимум ширина (мм)" class="table__element-items">300</p>
                            <p data-title="минимум ширина (мм)" class="table__element-items">300</p>
                            <p data-title="минимум ширина (мм)" class="table__element-items">300</p>
                        </div>
                        <div class="table__element">
                            <p data-title="Тип жалюзи" class="table__element-items">дерево 25 мм</p>
                            <p data-title="Необычные формы" class="table__element-items"></p>
                            <p data-title="Опциональная неинвазивная сборка" class="table__element-items">+</p>
                            <p data-title="Дополнительный электрический" class="table__element-items">+</p>
                            <p data-title="минимум ширина (мм)" class="table__element-items">300</p>
                            <p data-title="минимум ширина (мм)" class="table__element-items">300</p>
                            <p data-title="минимум ширина (мм)" class="table__element-items">300</p>
                            <p data-title="минимум ширина (мм)" class="table__element-items">300</p>
                        </div>

                    </div>
                </div>
                <div class="list-of-services__bottom description-of-services">
                    <p class="wow fadeInLeft title-h2 description-of-services--title-h2">Ми пропонуємо карнизи для штор
                        Somfy </p>
                    <div class="wow fadeInRight description-of-services__right-text">
                        <p><span>Сьогодні такі карнизи</span> – це розповсюджений та зручний спосіб управління великими
                            та досить
                            важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам
                            потрібно...Сьогодні такі карнизи – це розповсюджений та зручний спосіб управління
                            великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що
                            Вам потрібно...Сьогодні такі карнизи – це розповсюджений та зручний спосіб управління
                            великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що
                            Вам потрібно...</p>
                        <p><span>Сьогодні такі карнизи</span> – це розповсюджений та зручний спосіб управління великими
                            та досить
                            важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам
                            потрібно...Сьогодні такі карнизи – це розповсюджений та зручний спосіб управління
                            великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що
                            Вам потрібно...Сьогодні такі карнизи – це розповсюджений та зручний спосіб управління
                            великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що
                            Вам потрібно...</p>
                    </div>
                </div>
                <div class="table">
                    <img src="img/table-bg-2.png" alt="" class="table__bg">
                    <div class="table__body">
                        <div class="title-h2">Цены на изделия</div>
                        <div class="table__header">
                            <p class="table__header-nav">Тип жалюзи</p>
                            <p class="table__header-nav"></p>
                            <p class="table__header-nav"></p>
                            <p class="table__header-nav"></p>
                            <p class="table__header-nav">минимум ширина (мм) </p>
                            <p class="table__header-nav">минимум ширина (мм) </p>
                            <p class="table__header-nav">минимум ширина (мм) </p>
                            <p class="table__header-nav">минимум ширина (мм) </p>
                        </div>
                        <div class="table__element">
                            <p data-title="Тип жалюзи" class="table__element-items">дерево 25 мм</p>
                            <p data-title="Необычные формы" class="table__element-items"></p>
                            <p data-title="Опциональная неинвазивная сборка" class="table__element-items"></p>
                            <p data-title="Дополнительный электрический" class="table__element-items"></p>
                            <p data-title="минимум ширина (мм)" class="table__element-items">300</p>
                            <p data-title="минимум ширина (мм)" class="table__element-items">300</p>
                            <p data-title="минимум ширина (мм)" class="table__element-items">300</p>
                            <p data-title="минимум ширина (мм)" class="table__element-items">300</p>
                        </div>
                        <div class="table__element">
                            <p data-title="Тип жалюзи" class="table__element-items">дерево 25 мм</p>
                            <p data-title="Необычные формы" class="table__element-items"></p>
                            <p data-title="Опциональная неинвазивная сборка" class="table__element-items"></p>
                            <p data-title="Дополнительный электрический" class="table__element-items"></p>
                            <p data-title="минимум ширина (мм)" class="table__element-items">300</p>
                            <p data-title="минимум ширина (мм)" class="table__element-items">300</p>
                            <p data-title="минимум ширина (мм)" class="table__element-items">300</p>
                            <p data-title="минимум ширина (мм)" class="table__element-items">300</p>
                        </div>
                        <div class="table__element">
                            <p data-title="Тип жалюзи" class="table__element-items">дерево 25 мм</p>
                            <p data-title="Необычные формы" class="table__element-items"></p>
                            <p data-title="Опциональная неинвазивная сборка" class="table__element-items"></p>
                            <p data-title="Дополнительный электрический" class="table__element-items"></p>
                            <p data-title="минимум ширина (мм)" class="table__element-items">300</p>
                            <p data-title="минимум ширина (мм)" class="table__element-items">300</p>
                            <p data-title="минимум ширина (мм)" class="table__element-items">300</p>
                            <p data-title="минимум ширина (мм)" class="table__element-items">300</p>
                        </div>

                    </div>
                </div>
                <div class="video">
                    <img src="img/video.png" alt="" class="video__bg">
                    <div class="play"><i class="play-icon"></i></div>
                    <div class="video__container">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/CWlbjXwUMJI"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="form">
                <div class="form__body">
                    <div class="form__body-background">
                        <p class="title-h2 form__title-h2--c-black">У вас возникли вопросы?
                            <span class="break">Мы с удовольствием ответим!</span></p>
                        <p class="description form__description">Сьогодні такі карнизи – це розповсюджений та зручний
                            спосіб управління
                            великими та досить важкими шторами. Варіанти управління дозволяють вибрати саме те, що Вам
                            потрібно...</p>
                        <form action="#" class="form__form-ask form-ask">
                            <input type="text" name="name" placeholder="Ваше имя"
                                   class="input-item-1">
                            <input type="email" name="email" placeholder="Ваш email"
                                   class="input-item-2">
                            <textarea name="message" placeholder="Сообщение"></textarea>
                            <button type="submit" class="btn-default btn-default--center">Отправить</button>
                        </form>

                        <div class="line-orange"></div>
                    </div>

                </div>
            </div>
            <div class="other-product">
                <p class="other__product--title">Інші продукти</p>
                <div class="other-product__row">
                    <div class="other-product__column other-product-item">
                        <img src="img/other-prd1.png" alt="" class="other-product-item__bg">
                        <p class="other-product-item__text other-product-text">Внутрішні системи</p>
                        <a href="#" class="link-default">Дивитися ще <span class="arrow-right"><i></i></span></a>
                    </div>
                    <div class="other-product__column other-product-item">
                        <img src="img/other-prd2.png" alt="" class="other-product-item__bg">
                        <p class="other-product-item__text other-product-text">Внутрішні системи</p>
                        <a href="#" class="link-default">Дивитися ще <span class="arrow-right"><i></i></span></a>
                    </div>
                    <div class="other-product__column other-product-item">
                        <img src="img/other-prd3.png" alt="" class="other-product-item__bg">
                        <p class="other-product-item__text other-product-text">Внутрішні системи</p>
                        <a href="#" class="link-default">Дивитися ще <span class="arrow-right"><i></i></span></a>
                    </div>
                    <div class="other-product__column other-product-item">
                        <img src="img/other-prd4.png" alt="" class="other-product-item__bg">
                        <p class="other-product-item__text other-product-text">Внутрішні системи</p>
                        <a href="#" class="link-default">Дивитися ще <span class="arrow-right"><i></i></span></a>
                    </div>
                </div>
            </div>
        </main>
        <div class="workspace__footer">
            {% include "html/footer.html" %}
        </div>


    </div>
</div>

{% include "html/_document-footer.html" %}